<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Categorías</h1>
        <a href="/" class="btn">Volver</a>
    </header>

    <div class="contenedor">

        <h2>Nueva Categoría</h2>
        <form action="/categorias/insertar" method="POST">
            <input type="text" name="nombre" placeholder="Nombre categoría" required>
            <button type="submit" class="btn">Guardar</button>
        </form>

        <h2>Lista</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in categorias %}
                <tr>
                    <td>{{ c[0] }}</td>
                    <td>
                        <input type="text" name="nombre" value="{{ c[1] }}" form="form-upd-cat-{{ c[0] }}" required>
                    </td>
                    <td>
                        <button type="submit" class="btn" form="form-upd-cat-{{ c[0] }}">
                            Actualizar
                        </button>

                        <button type="submit" class="btn btn-danger" form="form-del-cat-{{ c[0] }}"
                            onclick="return confirm('¿Eliminar categoría?')">
                            Eliminar
                        </button>
                    </td>
                </tr>

                <form id="form-upd-cat-{{ c[0] }}" action="/categorias/actualizar" method="POST">
                    <input type="hidden" name="id" value="{{ c[0] }}">
                </form>

                <form id="form-del-cat-{{ c[0] }}" action="/categorias/eliminar" method="POST">
                    <input type="hidden" name="id" value="{{ c[0] }}">
                </form>

                {% else %}
                <tr>
                    <td colspan="3">No hay categorías registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>

</html>