<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <h1>Categorías</h1>
        <a href="index.html">Volver</a>
    </header>

    <div class="contenedor">

        <h2>Nueva Categoría</h2>
        <form>
            <input type="text" placeholder="Nombre categoría">
            <button>Guardar</button>
        </form>

        <h2>Lista</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </table>

    </div>

</body>

</html>