<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Detalle Ventas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <h1>Detalle Ventas</h1>
        <a href="index.html">Volver</a>
    </header>

    <div class="contenedor">

        <h2>Detalle de Venta</h2>
        <table>
            <tr>
                <th>Venta</th>
                <th>Producto</th>
                <th>Talla</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </table>

    </div>

</body>

</html>