<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Detalle ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Detalle de ventas</h1>
        <a href="/" class="btn">Volver</a>
    </header>

    <div class="contenedor">

        {% if request.args.get('ok') %}
        <script>
            alert("!Venta generada correctamente!");
        </script>
        {% endif %}

        <table>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
            </tr>

            {% for v in ventas %}
            <tr>
                <td>{{ v[0] }}</td>
                <td>{{ v[1] }}</td>
                <td>{{ v[2] }}</td>
                <td>₡{{ v[3] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

</body>

</html>