<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <h1>Facturas</h1>
        <a href="index.html">Volver</a>
    </header>

    <div class="contenedor">

        <h2>Facturas</h2>
        <table>
            <tr>
                <th>Número</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
            </tr>
        </table>

    </div>

</body>

</html>