<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Sistema Base de Datos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <h1>Sistema de Administración</h1>
    </header>

    <div class="contenedor">

        <a href="categorias.html" class="card">
            <h3>Categorías</h3>
            <p>Administrar categorías</p>
        </a>

        <a href="productos.html" class="card">
            <h3>Productos</h3>
            <p>Administrar productos</p>
        </a>

        <a href="inventario.html" class="card">
            <h3>Inventario</h3>
            <p>Ver y actualizar stock</p>
        </a>

        <a href="clientes.html" class="card">
            <h3>Clientes</h3>
            <p>Administrar clientes</p>
        </a>

        <a href="ventas.html" class="card">
            <h3>Ventas</h3>
            <p>Registrar ventas</p>
        </a>

        <a href="detalle_ventas.html" class="card">
            <h3>Detalle de Ventas</h3>
            <p>Productos vendidos</p>
        </a>

        <a href="facturas.html" class="card">
            <h3>Facturas</h3>
            <p>Administrar facturas</p>
        </a>

        <a href="detalle_facturas.html" class="card">
            <h3>Detalle de Facturas</h3>
            <p>Detalle de facturas</p>
        </a>

        <a href="historial_ventas.html" class="card">
            <h3>Historial</h3>
            <p>Ver ventas realizadas</p>
        </a>

    </div>

</body>

</html>