<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Sistema Base de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Sistema de Administración</h1>
    </header>

    <div class="contenedor">

        <a href="/categorias" class="card">
            <h3>Categorías</h3>
            <p>Administrar categorías</p>
        </a>

        <a href="/productos" class="card">
            <h3>Productos</h3>
            <p>Administrar productos</p>
        </a>

        <a href="/inventario" class="card">
            <h3>Inventario</h3>
            <p>Ver y actualizar stock</p>
        </a>

        <a href="/clientes" class="card">
            <h3>Clientes</h3>
            <p>Administrar clientes</p>
        </a>

        <a href="/ventas" class="card">
            <h3>Ventas</h3>
            <p>Registrar ventas</p>
        </a>

        <a href="/detalle_ventas" class="card">
            <h3>Detalle Ventas</h3>
            <p>Productos vendidos</p>
        </a>

        <a href="/facturas" class="card">
            <h3>Facturas</h3>
            <p>Administrar facturas</p>
        </a>

        <a href="/detalle_facturas" class="card">
            <h3>Detalle Facturas</h3>
            <p>Facturas creadas</p>
        </a>

        <a href="/historial_ventas" class="card">
            <h3>Historial</h3>
            <p>Ver ventas realizadas</p>
        </a>

    </div>

</body>

</html>