<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <h1>Productos</h1>
        <a href="index.html">Volver</a>
    </header>

    <div class="contenedor">

        <h2>Agregar Producto</h2>
        <form>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Descripción">

            <select>
                <option>Seleccionar categoría</option>
            </select>

            <input type="number" placeholder="Precio">
            <button>Guardar</button>
        </form>

        <h2>Lista</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </table>

    </div>

</body>

</html>