<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <h1>Ventas</h1>
        <a href="index.html">Volver</a>
    </header>

    <div class="contenedor">

        <h2>Nueva Venta</h2>
        <form>
            <select>
                <option>Seleccionar Cliente</option>
            </select>

            <button>Crear Venta</button>
        </form>

    </div>

</body>

</html>